<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2 list-new">
            <h3>Edit your Listing</h3>
            <form method="POST" action="/listings/<%= listing.id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
                    <div class="invalid-feedback">
                        Please enter short description.
                    </div>
                </div>
                <div class="mb-3">
                    Original Listing Image <br>
                    <img src="<%= originalImageUrl %>">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input type="file" name="listing[image]"  class="form-control" >
                </div>
                <div class="row" >
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                        <div class="invalid-feedback">
                            Please choose a valid price.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a valid country.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a valid location.
                    </div>
                </div>
                <div class="mb-3">
                    <select class="form-select" aria-label="Default select example" name="listing[filter]">
                        <option value="<%= listing.filter %>" selected><%= listing.filter %></option>
                        <option value="Amazing Pool" >Amazing Pool</option>
                        <option value="Farms">Farms</option>
                        <option value="Design">Design</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Treehouses">Treehouses</option>
                        <option value="Beach">Beach</option>
                        <option value="Domes">Domes</option>
                        <option value="Top of the world">Top of the world</option>
                        <option value="Trending">Trending</option>
                        <option value="Top cities">Top cities</option>
                        <option value="Camping">Camping</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Boats">Boats</option>
                        <option value="Creative spaces">Creative spaces</option>
                        <option value="Skiing">Skiing</option>
                        <option value="Towers">Towers</option>
                        <option value="Camper vans">Camper vans</option>
                      </select>
                </div>
                <button type="submit" class="btn btn-outline-danger mt-3">Edit</button>
                <br><br>
            </form>
        </div>
    </div>
    
</body>
